# MongoDB connection string template
# Replace with actual credentials and details
DATABASE_CONNECTION=mongodb+srv://<username>:<password>@<cluster-url>/<database-name>

# Example values:
# <username>:         Your MongoDB username
# <password>:         Your MongoDB password
# <cluster-url>:      Your MongoDB cluster URL (e.g., cluster0.mongodb.net)
# <database-name>:    The name of your database (e.g., task_management)

# Example:
# DATABASE_CONNECTION=mongodb+srv://root:password@cluster0.mongodb.net/task_management


# URL for the frontend application
# Replace with the actual URL of your frontend application
REACT_APP_FRONTEND_URL=http://localhost:5173

# Example:
# REACT_APP_FRONTEND_URL=https://your-frontend-domain.com


# SMTP server configuration for Nodemailer
# Replace with actual credentials and details
SMTP_HOST=<smtp_host>
SMTP_PORT=<smtp_port>
SMTP_USER=<smtp_user>
SMTP_PASS=<smtp_pass>

# Example values for Brevo:
# SMTP_HOST=smtp-relay.brevo.com
# SMTP_PORT=587
# SMTP_USER=your_brevo_username
# SMTP_PASS=your_brevo_password


# JWT secret for signing and verifying JSON Web Tokens
# Replace with a strong secret key to ensure security
JWT_SECRET=<jwt_secret>

# Example:
# JWT_SECRET=e4axb627dd59c38d1bffbd587cbb8c3e4f1a54309c03ffh2we8fa6b05350962gh
